@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color: rgb(255, 250, 240);
    width: 100%;
    font-weight: 300;
    font-style: normal;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-list-item{
    padding: 10px;
    background-color: rgb(250, 237, 212);
    border-radius: 5px;
    color: rgb(54, 54, 54);
    transition: all .5s ease-in;
}

.header-list-item:hover{
    padding: 13px;
    background-color: rgb(252, 232, 196);
    border-radius: 8px;
    color: rgb(41, 41, 41);
}

header{
    color: cadetblue;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
}